body{
    margin:0;
    text-align: center;
    font-family:'Merriweather', serif;
    /* font-size: 100%; */
}

.navbar{
    background-color: #E4F9F5;
    text-align: right;
    padding: 20px;
}
.nav-list a{
    margin-right: 6rem;
    text-decoration: none;
    color: #157e7e;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}
.nav-list a:hover{
    color: #66BFBF;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

h1 {
    font-size: 5.625em;  
    margin-top:0;
    width: 10%;
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    /* line-height: px; */
    


}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size:2.5rem;
    color: #66BFBF;
    font-weight: normal;

}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.first-container{
    background-color: #E4F9F5;
    position:relative;
    padding-top:100px ;
    
    
    
}
.top-cloud{
    position: absolute;
    right:300px;
    top: 50px;
}

.middel-container {
    
}

.profile img{
    margin-top: 15px;
    border-radius: 50%;
    
    
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.skill-row img{
    border-radius: 50%;
    width: 25%;
    
}
.chilli-img{
    float:left;
    margin-right: 30px;
}
.comp-img{
    float: right;
    margin-left: 30px;
}
.contact-me{
    margin-bottom:30px;
}
.btn{
    text-decoration:none;
    border: 1px solid;
    border-radius: 7px ;
    padding: 9px;
    margin-top: 5px;
    background-color: #11999E;
    color: #E4F9F5;
    
}

.btn:hover{
    background-color: #53a897;
}
.bottom-container a{
    margin-top:10px;
    margin: 10px;
    /* color:#66BFBF; */
    color: #f2f6f7;
    text-decoration:none
} 
.bottom-container a:hover{
    color:black
}

.bottom-container{
    background-color: #11999E;
    padding: 20px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
hr{
    border: dotted gray;
    height: 0;
    border-style: none;
    width: 5%;
    border-top-style: dotted;
    border-width: 5px;

}
