@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Mochiy+Pop+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;

}

.main-container {
    position: relative;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    padding-top:4rem;
   /* margin-top: 4rem; */
}
.main-container .heading .para{
    font-size: 21px;
    /* font-weight: 600; */
    padding-bottom: 1rem;
}  
  

.main-container .img-blur {
    z-index: -1;
    filter: blur(130px);
    position:absolute;
    left: 3rem;

}

.main-container .col-1 img{
    background-size: cover;
    border-radius: 8px;
    /* width: 100%; */
    background-position: 50% 0;
    /* width: 500px; */
    height: 600px;
}

.col-2 .col-2-content .text-para {
    color: gray;
    font-weight: 400;
    line-height: 1.6em;
    margin-top: 24px;
    font-size: 20px;
}
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    /* margin-top: 3rem; */
}

.col-2 .col-2-content .text-heading {
    font-size: 54px;
    font-weight: 500;
    line-height: 1.1em;
}
.main-container .img-blur {
    width: 60%;
    
}

.base-container-work{
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    gap: 4rem;
}

 .button a{
    margin-top:2rem;
    margin-bottom: 2rem;
    /* display:inline-block; */
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    border: 1px solid blue;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 8px 8px;
    font-size: 16px;
    font-weight: 600;
    transition: all .3s;
    width: 13rem;
    text-transform:none;
}
.button a {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.col-2 .col-2-content .button a span {
    display: flex;
    flex-direction:column;

}
.col-2 .col-2-content .button a:hover {
    background-color: #fff;
    color: blue;
}

svg {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .base-container-work {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        /* padding-right: 15px; */
        padding-right: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 4rem;
    }
    .col-2 .col-2-content .text-heading {
        font-size: 50px;
        font-weight: 500;
        line-height: 1.1em;
    }
    .button a {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .col-2 .col-2-content {
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }
    /* .main-container {
        /* display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem; */
        /* margin-top: 2rem; */
        
    } 



@media (max-width:426px){
    .col-2 .col-2-content .text-heading {
        font-size: 45px;
        font-weight: 500;
        line-height: 1.1em;
    }
    .button a {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-container .col-1 img {
        background-size: cover;
        border-radius: 8px;
        width: 100%;
        background-position: 50% 0;
        /* width: 500px; */
        height: 500px;
}
    
}

@media (max-width:375px){
    col-2 .col-2-content .text-heading {
        font-size: 40px;
        font-weight: 500;
        line-height: 1.1em;
    }
    /* .col-2 .col-2-content .text-para {
        color: gray;
        font-weight: 400;
        line-height: 1.6em;
        margin-top: 24px;
        font-size: 20px;
    } */
    .main-container .col-1 img {
        background-size: cover;
        border-radius: 8px;
        width: 100%;
        background-position: 50% 0;
        /* width: 500px; */
        height: 400px;
    }
    .col-1 {
        object-fit: cover;
    }
}


/* swipper slider */



/* .swiper {
    width: 100%;
    height: 100%;
} */

 .swipper-slider {
    padding-bottom: 2rem;
    padding-top: 1rem;
}
/* .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.swiper-slide img {
    display: block;
    width:  100%;
    height: 100%;
    object-fit: cover;

}

.swiper {
   border-radius: 12px;
    width: 80%;
    height:300px;
   
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    /* display: block; */
 /*}

@media (max-width:320px){
    .swiper {
        border-radius: 12px;
         width: 100%;
         height:300px;
        
     }
}

@media (max-width:375px){
    .swiper {
        border-radius: 12px;
        width: 100%;
        height:300px;
        
     }
} */




.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #dbd5d5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-bottom: 12px;
}
.swiper {
    width: 80%;
    /* height: 60%; */
    /* height: auto; */
    height: 500px;
    border-radius: 12px;
    background-color: #fff;
    background-color: red;

}



@media (max-width:426px){
    .swiper {
        width: 80%;
        height: 50%;
        border-radius: 12px;

    }
}

@media (max-width:376px){
    .swiper {
        width: 80%;
        height: 46%;
        border-radius: 12px;

    }
}

@media (max-width:376px){
    .swiper {
        width: 80%;
        height: 40%;
        border-radius: 12px;

    }
}

@media (max-width:415px){
    .swiper {
        width: 91%;
        height: 42%;
        border-radius: 12px;

    }
}

@media (max-width:431px){
    .swiper {
        width: 91%;
        height: 42%;
        border-radius: 12px;

    }
}

/* @media (max-width:769px){
    .swiper {
        width: 91%;
        height: 60%;
        border-radius: 12px;

    }
} */

    @media (max-width:769px){
        .swiper {
            width: 70%;
            height: 60%;
            border-radius: 12px;
    
        }
}

@media (max-width:821px){
    .swiper {
        width: 91%;
        height: 60%;
        border-radius: 12px;

    }
}
@media (max-width:1025px){
    .swiper {
        width: 91%;
        height: 50%;
        border-radius: 12px;

    }
}

@media (max-width:281px){
    .swiper {
        width: 91%;
        height: 40%;
        border-radius: 12px;

    }
}
@media (max-width:413px){
    .swiper {
        width: 91%;
        height: 40%;
        border-radius: 12px;

    }
}
@media (max-width: 1025px){
    .swiper {
    width: 91%;
    height: 75%;
    border-radius: 12px;
}
}

/* @media (max-width: 1025px){
.swiper {
    width: 76%;
    height: 51%;
    border-radius: 12px;
}
} */



/*  Image gallery */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Mochiy+Pop+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;

}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 2rem;
    /* width: min(95%, 70rem);
    margin-inline: auto; */
    row-gap: .5rem;
}
 
.main-container img:hover {
    transform: scale(1.02);
    transition: 0.4s ease;
}

.grid-row-1 {
    display: flex;
    align-items: center;
    padding: 0rem 2rem;
    column-gap: 0.5rem;
}
.grid-row-1>img {
    flex-grow: 1;
}

.grid-row-1 img {
    width: 23%;
    /* height: 23%; */
    object-fit: cover;
    border-radius: 0.5rem;
}
.grid-row-1 img.grid-col-4-span{
    width:24%;
}

.grid-row-2 , .grid-row-3 {
    display: flex;
    align-items: center;
    padding: 0rem 2rem;
    column-gap: 0.7rem;
}
.grid-row-2>img {
    flex-grow: 1;
}
.grid-row-3>img {
    flex-grow: 1;
}
.grid-row-2 img, .grid-row-3 img  {
    width: 31.05%;
    /* height: 200px; */
    object-fit: cover;
    border-radius: 0.5rem;
}

.grid-row-2 img.grid-col-3-span{
    width: 26%;
}

@media (max-width:768px){
    .grid-row-1 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0rem 2rem;
        column-gap: 0.7rem;
        row-gap: 1rem;
    }
    .grid-row-1 img {
        width: 47%;
        /* height: 23%; */
        object-fit: cover;
        border-radius: 0.5rem;
    }
    .grid-row-1 img.grid-col-4-span{
        width:50%;
    }
}

@media (max-width:426px){
    .grid-row-1 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0rem 1rem;
        column-gap: 0.7rem;
        row-gap: 1rem;
    }
    .grid-row-1 img {
        width:100%;
        /* height: 23%; */
        object-fit: cover;
        border-radius: 0.5rem;
    }
}

@media (max-width:768px){
    .grid-row-2 , .grid-row-3 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0rem 2rem;
        column-gap: 1rem;
        row-gap: 1rem;

    }
    .grid-row-2 img, .grid-row-3 img  {
        width: 47%;
        /* height: 200px; */
        object-fit: cover;
        border-radius: 0.5rem;
    }
    .grid-row-2 img.grid-col-3-span{
        width: 47%;
    }
}

@media (max-width:426px){
    .grid-row-2 , .grid-row-3 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding: 0rem 1rem;
        column-gap: 1rem;
        row-gap: 1rem;

    }

    .grid-row-2 img, .grid-row-3 img  {
        width: 100%;
        /* height: 200px; */
        object-fit: cover;
        border-radius: 0.5rem;
    }
    .grid-row-2 img.grid-col-3-span{
        width: 100%;
    }
}