@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Flow+Circular&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*  for pop button */
*{
    box-sizing: border-box;
    /* font-family: "Bellota Text", sans-serif; */
    font-family: "Poppins", sans-serif;
}
.overlay-container { 
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.6); 
    justify-content: center; 
    align-items: center; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
} 

.popup-box { 
    background: #fff; 
    padding: 24px; 
    border-radius: 12px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); 
    width: 536px; 
    text-align: center; 
    opacity: 0; 
    transform: scale(0.8); 
    animation: fadeInUp 0.5s ease-out forwards; 
} 

.form-container { 
    display: flex; 
    flex-direction: column; 
} 

.form-label { 
    margin-bottom: 10px; 
    font-size: 16px; 
    color: #444; 
    text-align: left; 
    color: #00635d;
} 

.form-input { 
    padding: 10px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    font-size: 16px; 
    width: 100%; 
    box-sizing: border-box;
    outline: none; 
} 

.btn-submit, 
.btn-close-popup { 
    padding: 12px 24px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
} 

.btn-submit { 
    background-color: #00635d; 
    color: #fff; 
} 

.btn-close-popup { 
    margin-top: 12px; 
    background-color: #e74c3c; 
    color: #fff; 
} 

.btn-submit:hover, 
.btn-close-popup:hover { 
    background-color: #00635d; 
} 

/* Keyframes for fadeInUp animation */ 
@keyframes fadeInUp { 
    from { 
        opacity: 0; 
        transform: translateY(20px); 
    } 

    to { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

/* Animation for popup */ 
.overlay-container.show { 
    display: flex; 
    opacity: 1; 
} 

.overlay-container.show1 { 
    display: flex; 
    opacity: 1; 
} 

.contact,
.form-container .email{
    
    border: 1px solid #00635d;
    border-radius: 4px ;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    
}


.contact a,
.form-container .email a {
    display: block;
    font-size: 18px;
    color: #00635d;
    font-weight: 600;
    cursor: pointer;
    padding:8px 12px;
    transition: all 0.5s ;
}   


.form-container .contact a:hover {
    color: #fff;
    background-color: #00635d;
}

.form-container .email a:hover{
    color: #fff;
    background-color: #00635d;
}

@media (max-width:426px){
    .popup-box {
        background: #fff;
        padding: 24px;
        border-radius: 12px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        width: 383px;
        text-align: center;
        opacity: 0;
        transform: scale(0.8);
        animation: fadeInUp 0.5s ease-out forwards;
    }
}


@media (max-width:376px){
    
    .popup-box {
        width: 342px;
    }
}

@media (max-width:321px){
    .popup-box {
        width: 290px;
    }
    .containt a {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 4px 12px;
        transition: all 0.5s;
        color: #00635d;
        font-size: 16px;
    }
}